@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    outline-color: var(--ring);
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: #ffffff;
  --foreground: #242424;
  --card: #ffffff;
  --card-foreground: #242424;
  --popover: #ffffff;
  --popover-foreground: #242424;
  --primary: #36343d;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f4;
  --secondary-foreground: #36343d;
  --muted: #f5f5f4;
  --muted-foreground: #78716c;
  --accent: #f5f5f4;
  --accent-foreground: #36343d;
  --destructive: #e03e3e;
  --border: #e7e5e4;
  --input: #e7e5e4;
  --ring: #a8a29e;
  --chart-1: #eab308;
  --chart-2: #22c55e;
  --chart-3: #3b82f6;
  --chart-4: #f97316;
  --chart-5: #ec4899;
  --radius: 0.45rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #242424;
  --sidebar-primary: #36343d;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f4;
  --sidebar-accent-foreground: #36343d;
  --sidebar-border: #e7e5e4;
  --sidebar-ring: #a8a29e;
  --primary-light: #5c5b5a;
  --secondary-light: #e7e5e4;
}

.dark {
  --background: #242424;
  --foreground: #fafafa;
  --card: #36343d;
  --card-foreground: #fafafa;
  --popover: #36343d;
  --popover-foreground: #fafafa;
  --primary: #e7e5e4;
  --primary-foreground: #36343d;
  --secondary: #47464a;
  --secondary-foreground: #fafafa;
  --muted: #47464a;
  --muted-foreground: #a8a29e;
  --accent: #47464a;
  --accent-foreground: #fafafa;
  --destructive: #991b1b;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #78716c;
  --chart-1: #8b5cf6;
  --chart-2: #06b6d4;
  --chart-3: #ec4899;
  --chart-4: #f97316;
  --chart-5: #f43f5e;
  --sidebar: #36343d;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #8b5cf6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #47464a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #78716c;
  --primary-light: #a8a29e;
  --secondary-light: #47464a;
}
